body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
#Name{
    color: orange;
}
h1{
    font-size: 40px;
}
.flexible{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    display: 50%;
    padding-left: 5%;
    padding-right: 10%;
}
.half-width img{
    width: 120%;
    padding-top: 5%;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.middle{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.download{
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    background-color: rgb(248, 57, 89);
    border-radius: 5px;
}
.d-width{
    width: 40%;
    padding-top: 20px;
    padding-right: 5px;

}
.d-width img{
    width: 70%;
    padding-left: 30px 10px 20px 0px;

}
.Experience-Area{
    background-image: url(images/);
    background-repeat: no-repeat;
    background-position: right;
}
#okay{
    padding-left: 20px;
}
.box{
    width: 50%;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    box-shadow: 5px 5px 20px gray;
    border-left: 5px solid tomato;
}
.this{
    color: orange;
}
footer{
    text-align: center;
}
